<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="icon.png">
  <meta name="keywords" content="google,googledoodle,doodle,game,cricket,javascript,svg,ai">
  <meta name="author" content="Google">
  <meta name="description" content="Play Google Doodle Cricket Game.">

  <title>Cricket | Google Doodle</title>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-100348493-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
<body>
  <center>
    <div>
    <style>
      #hplogo canvas{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(cta.png) no-repeat;
        background-size: 80%;
        background-position: center;
        outline: none;
        user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none
      }
    </style>
    <div id="hplogo">
    <canvas tabindex="0" style="cursor: pointer;"></canvas>
    </div>
    <script>
      (function() {
        window.google || (window.google = {});
        google.doodle || (google.doodle = {});
        google.doodle.url = "https://www.google.co.in/search?q=pocket+money";
        google.doodle.alt = "";
        google.doodle.share = "";
        google.doodle.shortlink = "";
        google.doodle.gallery = "";
        google.doodle.large_image = "{{HOMEPAGE_IMAGE_URL}}";
        google.doodle.hl = "en";
        google.doodle.msgs = {
          "Search - Icon": "Search",
          "Share": "Share",
          "Share - E-mail": "E-mail",
          "Share - Facebook": "Share on Facebook",
          "Share - G+": "Share on G+",
          "Share - Twitter": "Share on Twitter",
          "Share Message": "Earn money on Android Phone and play \ud83c\udfcf Score: [POINTS]"
        };
        google.doodle.doodle_args = {};
        if(!google.doodle || !google.doodle.loaded) {
          var a = ["google","doodle","loaded"],
              b = this;
          a[0] in b || !b.execScript || b.execScript("var " + a[0]);
          for(var c; a.length && (c = a.shift());) {
            var d;
            if(d =! a.length) d=!0;
            d ? b[c] =! 0 : b[c] && b[c] !== Object.prototype[c] ? b = b[c] : b = b[c] = {}
          }
          var e = document.createElement("script");
          e.src = "cricket.js";
          e.async =! 0;
          document.body.appendChild(e)
        };
      }).call(this);
    </script>
    </div>
  </center>
</body>
</html>
